.navbar{
	border-bottom: 1px solid #5444DA;
	background-color: #5444DA;
}

.navbar-brand{
	color: white;
	font-size: 2rem;
}

.navbar-brand:hover{
	color: white;
	opacity: 0.8;
}

.header{
	font-size: 2rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10%;
}

#event-info{
	margin-bottom: 5%;
}

.header{
	font-size: 2rem;
}

.btn-box{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 2%;
}

.btn{
	background-color: #5444DA;
	color: white;
}

.btn:hover{
	color: #5444DA;
}

.container{
	width: 70%;
	border: 2px solid #5444DA;
	border-radius: 30px;
	margin-top: 5%;
	padding: 3%;
}

.list-group-item{
	font-size: 1.5rem;
}
