.navbar{
	border-bottom: 1px solid #5444DA;
	background-color: #5444DA;
}

.navbar-brand{
	color: white;
	font-size: 2rem;
}

.navbar-brand:hover{
	color: white;
	opacity: 0.8;
}

.container{
	width: 40%;
	border: 2px solid #5444DA;
	border-radius: 50px;
	margin-top: 7%;
	padding: 3%;
	margin-bottom: 7%;
}

.btn{
	background-color: #5444DA;
	color: white;
	width: 100%;
	padding: 2%;
}

.btn:hover{
	color: #5444DA;
}

.header{
	font-size: 2rem;
}

.btn-box{
	display: flex;
	align-items: center;
	margin-top: 6%;
}